{{!< default}}

{{> "header-home" }}

{{#foreach posts}}
<section class="home-image main home-style dark fullscreen" style="{{#if image}}background-image:url('{{image}}'){{else}}background-image:url('/assets/images/empty.png'); background-repeat: repeat{{/if}}" data-url="{{url}}">
	<div class="content container small">
		<header>
			<h3>{{{title}}}</h3>
		</header>
		<h5>{{date format="DD MMMM YYYY"}}</h5>
	</div>
</section>
{{/foreach}}

{{pagination}}

{{> "footer-home" }}
